---
services:
  testing:
    build:
      dockerfile: ./Dockerfile
      args:
        INPUT_USERNAME: ${USER}
        UID: 1000
    volumes:
      - ./:/opt
      - "/home/${USER}/.ansible:/home/${USER}/.ansible"
