---

- name: Gather installed package lists.
  vars:
    apt_action_type: 'installed'
  ansible.builtin.include_role:
    name: apt
  tags:
    - discord


- name: Check if Tandem is present.
  ansible.builtin.stat:
    path: /usr/local/bin/tandem
  register: discord_tandem_state
  tags:
    - discord


- name: Install Discord dependencies
  vars:
    dependencies:
      - libasound2
      - libatomic1
      - libnotify4
      - libnspr4
      - libnss3
      - libxss1
      - libxtst6
  tags:
    - discord
  ansible.builtin.apt:
    update_cache: true
    name:
      - "{{ item }}"
  with_items: "{{ dependencies | difference(apt_installed_packages) }}"


# It's more correct to handle initial installation here rather than relying
# on the `tandem` binary.
#
- name: Install Discord
  tags:
    - discord
  vars:
    temp_path: "/tmp/discord.deb"
  when: "'discord' not in apt_installed_packages"
  block:
    - name: Download Discord .deb
      ansible.builtin.get_url:
        url: https://discord.com/api/download?platform=linux
        mode: "0644"
        owner: "{{ system_user }}"
        group: "{{ system_user }}"
        dest: "{{ temp_path }}"

    - name: Install Discord .deb
      become: true
      become_user: "{{ su_user }}"
      ansible.builtin.apt:
        deb: "{{ temp_path }}"

    - name: Remove Discord installation .deb
      ansible.builtin.file:
        state: absent
        path: "{{ temp_path }}"


- name: Setup Discord update crontab
  tags:
    - discord
  when: discord_tandem_state.stat.exists
  ansible.builtin.template:
    src: templates/cron.j2
    dest: /etc/cron.d/tandem
    owner: "{{ su_user }}"
    group: "{{ su_group }}"
    mode: "0644"
