# Deployed by Ansible

Types: deb deb-src
URIs: https://deb.debian.org/debian
Suites: trixie
Enabled: yes
Components: main


Types: deb deb-src
URIs: https://security.debian.org/debian-security
Suites: trixie-security
Enabled: yes
Components: main


Types: deb deb-src
URIs: https://deb.debian.org/debian
Suites: trixie-backports
Enabled: yes
Components: main


Types: deb deb-src
URIs: https://deb.debian.org/debian
Suites: trixie-updates
Enabled: yes
Components: main
