---

# By default, debian apt sources are deployed to /etc/apt/sources.list.d/*
# so, we'll just use the documented default paths and apply changes
# as required.
#
- name: Deploy managed sources file
  vars:
    # https://wiki.debian.org/SourcesList#debian.sources
    #
    bookworm_src: '/etc/apt/sources.list.d/debian.sources'
    trixie_src: '/etc/apt/sources.list.d/debian.sources'
    codename: "{{ ansible_lsb['codename'] }}"
    target_src: "{{ bookworm_src if codename == 'bookworm' else trixie_src }}"
  ansible.builtin.template:
    src: "templates/{{ codename }}.j2"
    dest: "{{ target_src }}"
    owner: "{{ su_user }}"
    group: "{{ su_group }}"
    mode: "0644"

# TODO: add signing-keys to apt sources
#   https://ftp-master.debian.org/keys.html
#
